@model WebBanHang.Models.Product

@{
    ViewData["Title"] = "Add";
}


<div style="background: linear-gradient(45deg, #33FFCC, #009966, #00FF66); border-radius: 10px; border: 3px solid #000">
<h1 style="align-items: center; justify-content: center; display: flex">Thêm sản phẩm</h1>
<hr />
    <div class="row" style="align-items: center; justify-content: center;">
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input type="file" asp-for="ImageUrl" class="form-control" onchange="previewImagee(this)" multiple/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    <img id="preview" style="display:none; margin-top: 10px;" width="170px" />
            </div>
                <div class="form-group">
                    <label for="detailImage1" class="control-label">Detail Image 1</label>
                    <input type="file" id="detailImage1" name="detailImages" class="form-control" onchange="previewImage(this, 'previewDetailImage1')" />
                    <img id="previewDetailImage1" style="display:none; margin-top: 10px;" width="170px" />
                </div>
                <div class="form-group">
                    <label for="detailImage2" class="control-label">Detail Image 2</label>
                    <input type="file" id="detailImage2" name="detailImages" class="form-control" onchange="previewImage(this, 'previewDetailImage2')" />
                    <img id="previewDetailImage2" style="display:none; margin-top: 10px;" width="170px" />
                </div>
                <div class="form-group">
                    <label for="detailImage3" class="control-label">Detail Image 3</label>
                    <input type="file" id="detailImage3" name="detailImages" class="form-control" onchange="previewImage(this, 'previewDetailImage3')" />
                    <img id="previewDetailImage3" style="display:none; margin-top: 10px;" width="170px" />
                </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.Categories"></select>
            </div>
                <div class="form-group" style="align-items: center; justify-content: center; display: flex; margin-top: 10px">
                    <input type="submit" value="Create" class="btn btn-primary" style="width: 300px; height: 50px; background: #00FF66; border: 2px solid #000; border-radius: 10px" />
            </div>
        </form>
    </div>
</div>

    <div class="btn_backhome" style="align-items: center; justify-content: center; display:flex; margin-bottom: 15px; margin-top: 10px">
        <a asp-action="Index" style="background: #0099FF; border-radius: 6px; width: 180px; height: 40px; display: inline-flex; justify-content: center; align-items: center; text-decoration: none; color: #fff; border: 2px solid #000">Back to List</a>
</div>
</div>
<script>
    function previewImagee(input) {
        var preview = document.getElementById('preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    function previewImage(input, previewId) {
        var preview = document.getElementById(previewId);
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>