
@{
    ViewData["Title"] = "Index";
}
<style>
    h1{
        text-align: center;
        align-items: center;
        justify-content: center;    
    }
</style>
<h1>Chào Admin đáng kính của tôi!</h1>

